.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    user-select: none;
    color:black;
    font-family: 'ProximaNova', sans-serif;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}

//Css Size from Button ( primary (basic), min, medium, max)
.primary {
    background-color: rgba(254, 44, 85, 1.0);
    min-width: 100px;
    min-height: 36px;
    font-size: 16px;
    border: none;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 16px;
    padding:0px;

    &:hover{
        cursor:pointer;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }    
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.min {
    border-color: rgba(254, 44, 85, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: rgba(254, 44, 85, 1.0);
    cursor: pointer;
    box-sizing: border-box;
    min-width: 88px;


}

.medium{

}

.max{

}

.pushButton{
    min-width: 110px;
    padding-left:10px;
    height: 36px;
    border-radius: 2px;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #161823; 
    display:inline-flex;
    justify-content: flex-start;
    align-items:space-between;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.plus-icon{
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-bottom: 3.3px;
}
.signIn-icon{
    padding-right: 5px;
    margin-left:-2px;
}


.menuItem{
    min-width: 110px;
    padding-left:10px;
    height: 36px;
    border-radius: 2px;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #161823; 
    display:inline-flex;
    justify-content: flex-start;
    align-items:space-between;
    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}


